{% extends 'account/profile.html' %}
{% block content %}
    <form class="form" action="" method="post">
        {% csrf_token %}
        <br><span
                style="text-align: center; display: flex; font-weight: bold; font-size: larger; justify-content: center;">Change Password</span><br>
            <table style="border-style: none; !important;width: fit-content; font-size: medium">
                <tr>
                    <td>Old password:</td>
                    <td>{{ form.old_password }}</td>
                </tr>

                <tr>
                    <td>New password:</td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>New password confirmation:</td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
            </table>
{#           {{ form.as_table }}#}
        <br>
        <input class="btn-changpss"  type="submit" value="Change Password">
    </form>
{% endblock %}